@media only screen and (max-device-width:980px) {

    main {
        border-top: none;
        border-bottom: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    header {
        width: 100%;
    }

    #menucomplet {
        display: none;
    }

    #menumobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: rgba(0,0,0,0.7);
        color: white;
        border-bottom: 1px solid white;
    }

    #statik {
        display: flex;
        width: 100%;
    }

    #statik div {
        flex-grow: 1;
        padding-right: 10px;
        display: flex;
        justify-content: flex-end;
    }

    #statik svg {
        width: 70px;
        fill: white;
    }

    #mouvant {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .deroule {
        animation: deroule 0.3s ease;
        height: 280px;
    }

    .enroule {
        animation: enroule 0.3s ease;
        height: 0px;
    }

    #accueil {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    }

    #accueil img {
        height: 30vh;
        margin: 10vh;
        animation: imgaccueilportable 3s ease;
    }

    #accueil nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: accueilportable 3s ease;
        overflow: hidden;
        max-width: 90%;
        max-height: 90%;
        width: 90%;
        height: 90%;
        margin-left: 0vh;
        margin-right: 0vh;
    }

    .nav_index {
        font-size: 1.5em;
        color: white;
        padding: 10px;
        text-decoration: underline;

    }

    .nav_index:hover {
        margin-left: 0px;
        text-decoration: underline;
    }

    #accueil h1 {
        font-size: 2em;
        margin: 0px;
    }

    #accueil i {
        padding: 20px 30px 20px 10px;
        opacity: 1;
        transition: 0.2s ease;
        color: white;
        text-decoration: none;
    }

    #accueil p {
        margin: 0px;
        text-align: center;
    }

    .projetmobile {
        display: flex;
        flex-direction: column;
    }

    .projets {
        display: none;
    }

    .projetmobile img {
        width: 90%;
        border: 5px solid rgba(255,255,255,0.1);
        align-self: center;
        margin-top: 10px;
    }

    .projetmobile a {
        align-self: center;
        margin: 5px;
    }

    .separationmobile {
        width: 75%;
        height: 1px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        align-self: center;
        margin: 10px 0px 10px 0px;
    }

    .lienmenuderoulant {
        padding: 20px 0px;
        width: 350px;
        text-align: center;
        font-size: 1.5em;
    }

    #sociauxmenumobil {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px;
        width: 350px;
    }

    #sociauxmenumobil a {
        padding: 0px 20px;
    }
}